*		{margin:0;	padding:0;}
header	{background:rgb(52, 115, 231);	height:200px;}
header:hover {background-color: rgb(29, 43, 122); /* Цвет при наведении */ }
nav		{background:rgb(35, 136, 219);}
main		{clear:both;}
article	{background:rgb(170, 219, 219);margin-left:200px;	min-height:320px;}
aside	{background:#700;width:200px;height:320px;float:left;}
footer	{background:#770;}


ul 			{display: block;   margin: 0;   padding: 0;   list-style: none; font-size: 0px;}
ul.menu > li 	{ display:inline-block;  font-size:16px;  width: 80px;}
ul.menu > li > a 	{display: block;   padding: 10px;   color: white;
                     text-decoration: line-through; text-align: center; background-color: rgb(57, 202, 147);}
ul.menu > li > a:hover {background-color: rgb(10, 26, 95);} /*цвет меню при наведении*/


ul.menu > li > ul.dropdown-content {
        display: none; /*подменю скрыто*/
        position: absolute;
} 
ul.menu > li > ul.dropdown-content > li > a {  
    display: block;
    padding: 5px;   
    border-bottom: 1px solid rgb(2, 92, 69);
    text-decoration: none;  
    font-size: 12px;
    color: rgb(0, 0, 0);
} 
ul.menu > li:hover > ul.dropdown-content { 
    display: block; /* При выделении пункта курсором мыши отображается подменю */
    background-color: rgb(133, 219, 219);
    width: 80px;
    text-align: center;
} 
 ul.menu > li:hover > ul.dropdown-content > li > a:hover {background-color: rgb(90, 101, 153);} /*изменение цвета подменю*/
  

p {padding: 10px; text-indent: 5%; text-align: justify;}

/*Задания:
1. Поменять цвет меню.
2. Поменять подчеркивание ссылки - сделать "зачеркивание"
3. Заменить цвет, фона верхнего меню при наведении на синий.
4. Сделать изменение фона при наведение на пункты меню (выпадающих элементов).

*/

.wrapper{
	width:900px;
	margin: 0 auto;
}